[submodule "impl/Console-parser"]
	path = impl/Console-parser
	url = https://github.com/onen-touw/Console-parser.git
[submodule "src/u_cns/impl/Console-parser"]
	path = src/u_cns/impl/Console-parser
	url = https://github.com/onen-touw/u_cns.git
